
:root{
    --primary-color: #FDCB35;
    --text-color:#000;
    --bg-color:#fff;
    --title-size1: 3rem;
    --title-size2: 1.8rem;
    --title-size3: 1.13rem;
    --paragraph-size: 1rem;
    --box-bg:#fff;
    --svg-width:100%;
    --text-container:50%;
    --container-width:72%;
    @media(max-width:967px){
        --container-width:90%;
    };
    @media(max-width:570px){
        --title-size1: 3rem;
        --title-size2: 2rem;
        --title-size3: 1.8rem;
        --paragraph-size: 1.5rem;
        --svg-container:80%;
        
    };
    
};

.dark-theme{
    --text-color:#fff;
    --bg-color: #121212;
    --box-bg:#2C2A26;
}

$button_color: #FDCB35;
$avg_direction : '';
$text_direction : '' ;

.container {
        //background-color: crimson;
        display:flex;
        padding:15px 0;
        justify-content: space-between;
        align-items: center;
        width:var(--container-width);
        
        
        
}

.btn{
    padding:18px 34px;
    border-radius: 25px;
    border:none;
    background-color: var(--primary-color);
    font-weight: bold;
}

.align-container-center{
    display:flex;
    justify-content: center;
    align-items: center;
}