$button_color: #FDCB35;
$avg_direction : '';
$text_direction : '' ;

.container {
        //background-color: crimson;
        display:flex;
        padding:15px 0;
        justify-content: space-between;
        align-items: center;
        width:75%;
        
}

.btn{
    padding:18px 34px;
    border-radius: 25px;
    border:none;
    background-color: $button_color
}

.align-container-center{
    display:flex;
    justify-content: center;
    align-items: center;
}