
:root{
    --primary-color: #FDCB35;
    --text-color:#000;
    --bg-color:#fff;
};

.dark-theme{
    --text-color:#fff;
    --bg-color: #121212;
}

$button_color: #FDCB35;
$avg_direction : '';
$text_direction : '' ;

.container {
        //background-color: crimson;
        display:flex;
        padding:15px 0;
        justify-content: space-between;
        align-items: center;
        width:72%;
        
}

.btn{
    padding:18px 34px;
    border-radius: 25px;
    border:none;
    background-color: var(--primary-color);
    font-weight: bold;
}

.align-container-center{
    display:flex;
    justify-content: center;
    align-items: center;
}