@use '../variables/variables' as *;
.header{
    background-color: var(--bg-color);
    color:var(--text-color);
    width:100%;
    font-size: 16px;
    font-family: "arial";
    font-weight: bold;
    position:fixed;
    top:0;
    @extend .align-container-center;
    .header-container{
        @extend .container;
        .header-logo{
            width:8%;
        }
        .header-list{
            list-style: none;
            display:flex;
            .header-item{
                padding: 0px 22px;
                a {
                    color:var(--text-color);
                    text-decoration: none;
                }
            }
        }
        .header-btn{
            @extend .btn;
        }
    }
}


@media(max-width : 1206px){
    .header{
        font-size: 13px;
        .header-container{
            .header-btn{
                padding:14px 25px;
            }
        }
    }

}

@media(max-width:967px){
    .header{.header-container{
        width:90%;
    }}
    
}

@media(max-width:770px){
    .header{.header-container{
        .header-list{
            display: none;
        }
    }}

}




