/// import variables
@use '../variables/variables' as *;

.about{ 
    @extend .align-container-center;
    color:var(--text-color);
    padding-top:120px;
    flex-direction: column;
    flex-wrap: wrap;
    overflow:hidden;
    .about1-container{
        @extend .container;
        margin-bottom: 150px;
        justify-content:flex-start;
        gap:80px;
        $svg_direction : 'left';
        $text_direction : 'right' ;
        .about-#{$svg_direction}{
            width:50%;
            .about-svg{
                fill : $button_color;
                width:var(--svg-width);
            }

        }
        .about-#{$text_direction}{
            width:50%;
            .about-title{
                font-size:var(--title-size2);
                margin-bottom: 10px;
            }
            .about-paragraph{
                font-size:var(--paragraph-size);
                margin-top: 25px;
                line-height: 2rem;


            }

        }
        
    }
    .about2-container{
        $avg_direction : 'left';
        $text_direction : 'right' ;
        @extend .about1-container;
        margin-bottom: 0px;
    }
}