// import variables
@use '../variables/variables' as *;

.home{
    //background-color: black;
    width:100%;
    @extend .align-container-center;
    padding-top:150px;
    flex-wrap: wrap;
    overflow:hidden;
    color:var(--text-color);
    .home-container{
        @extend .container;
        .home-left{
            width:45%;
            .home-title{
                font-size:var(--title-size1);
                margin-bottom: 1.5rem;
            }
            .home-paragraph{
                font-size: var(--paragraph-size);
                width:17.5rem;
                margin-bottom: 25px;

            }
            .home-btn{
                @extend .btn;
            }

        }
        .home-right{
            width:55%;
            .home-svg{
                fill : $button_color;
                width:var(--svg-width);
            }
        }
    }
}
