:root {
  --primary-color: #FDCB35;
  --text-color:#000;
  --bg-color:#fff;
}

.dark-theme {
  --text-color:#fff;
  --bg-color: #121212;
}

.container, .contact .contact-container, .services .services1-container, .services .services2-container, .about .about1-container, .about .about2-container, .home .home-container, .header .header-container {
  display: flex;
  padding: 15px 0;
  justify-content: space-between;
  align-items: center;
  width: 72%;
}

.btn, .contact .contact-container .contact-btn, .services .services2-container .services-right .app-btns .app-btn, .home .home-container .home-left .home-btn, .header .header-container .header-btn {
  padding: 18px 34px;
  border-radius: 25px;
  border: none;
  background-color: var(--primary-color);
  font-weight: bold;
}

.align-container-center, .contact, .services, .about, .home, .header {
  display: flex;
  justify-content: center;
  align-items: center;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html {
  height: 10000px;
  width: 100vw;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--bg-color);
  height: 10000px;
  width: 100vw;
  transition: all 500ms;
}

.header {
  background-color: var(--bg-color);
  color: var(--text-color);
  width: 100%;
  font-size: 16px;
  font-family: "arial";
  font-weight: bold;
  position: fixed;
  top: 0;
}
.header .header-container .header-logo {
  width: 8%;
}
.header .header-container .header-list {
  list-style: none;
  display: flex;
}
.header .header-container .header-list .header-item {
  padding: 0px 22px;
}
.header .header-container .header-list .header-item a {
  color: var(--text-color);
  text-decoration: none;
}
@media (max-width: 1206px) {
  .header {
    font-size: 13px;
  }
  .header .header-container .header-btn {
    padding: 14px 25px;
  }
}
@media (max-width: 967px) {
  .header .header-container {
    width: 90%;
  }
}
@media (max-width: 770px) {
  .header .header-container .header-list {
    display: none;
  }
}
.home {
  width: 100%;
  padding: 150px 0 0 0;
  flex-wrap: wrap;
  overflow: hidden;
  color: var(--text-color);
}
.home .home-container .home-left .home-title {
  font-size: 48px;
  margin-bottom: 25px;
}
.home .home-container .home-left .home-paragraph {
  font-size: 16px;
  width: 280px;
  margin-bottom: 25px;
}
.home .home-container .home-right .home-svg {
  fill: #FDCB35;
  width: 540px;
}

@media (max-width: 1206px) {
  .home .home-container .home-left .home-title {
    font-size: 35px;
  }
  .home .home-container .home-left .home-paragraph {
    font-size: 13px;
    width: 280px;
  }
  .home .home-container .home-left .home-btn {
    padding: 14px 25px;
  }
  .home .home-container .home-right .home-svg {
    width: 400px;
  }
}
.about {
  color: var(--text-color);
  padding: 120px 0 0 0;
  flex-direction: column;
  flex-wrap: wrap;
  overflow: hidden;
}
.about .about1-container, .about .about2-container {
  margin-bottom: 100px;
  justify-content: flex-start;
  gap: 80px;
}
.about .about1-container .about-left .about-svg, .about .about2-container .about-left .about-svg {
  fill: #FDCB35;
  width: 470px;
}
.about .about1-container .about-right .about-title, .about .about2-container .about-right .about-title {
  font-size: 28px;
  margin-bottom: 10px;
}
.about .about1-container .about-right .about-paragraph, .about .about2-container .about-right .about-paragraph {
  font-size: 16px;
  width: 400px;
  margin-top: 25px;
  line-height: 2rem;
}
.about .about2-container {
  margin-top: 20px;
}

.services {
  color: var(--text-color);
  width: 100%;
  padding: 150px 0 0 0;
  flex-wrap: wrap;
  overflow: hidden;
}
.services .services1-container {
  flex-direction: column;
}
.services .services1-container .services-title {
  width: 250px;
  font-size: 28px;
  text-align: center;
  margin-bottom: 25px;
}
.services .services1-container .services-boxes {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.services .services1-container .services-boxes .service-box {
  width: 30%;
  padding: 32px 24px;
  text-align: center;
}
.services .services1-container .services-boxes .service-box .box-title {
  font-size: 18px;
  margin-bottom: 20px;
}
.services .services1-container .services-boxes .service-box .service-svg {
  fill: var(--primary-color);
  width: 135px;
  margin-bottom: 20px;
}
.services .services1-container .services-boxes .service-box .box-paragraph {
  font-size: 16px;
  margin-bottom: 20px;
}
.services .services1-container .services-boxes .service-box .box-btn {
  text-decoration: none;
  color: var(--text-color);
  font-size: 16px;
  font-weight: bold;
}
.services .services2-container {
  justify-content: space-between;
}
.services .services2-container .services-left .app-svg {
  fill: var(--primary-color);
  width: 470px;
}
.services .services2-container .services-right .app-title {
  font-size: 28px;
  margin-bottom: 10px;
}
.services .services2-container .services-right .app-paragraph {
  font-size: 16px;
  width: 340px;
  margin: 25px 0;
  line-height: 2rem;
}
.services .services2-container .services-right .app-btns .app-btn {
  display: inline-flex;
  overflow: hidden;
  align-items: center;
}
.services .services2-container .services-right .app-btns .app-btn .apple-logo, .services .services2-container .services-right .app-btns .app-btn .googleplay-logo {
  background-image: url("http://127.0.0.1:5500/assets/img/Apple_logo_black.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 25px;
  height: 25px;
  margin-right: 15px;
}
.services .services2-container .services-right .app-btns .app-btn .googleplay-logo {
  background-image: url("http://127.0.0.1:5500/assets/img/Google-Play-512.png");
}

.contact {
  color: var(--text-color);
  padding: 120px 0 0 0;
  flex-direction: column;
  flex-wrap: wrap;
  overflow: hidden;
}
.contact .contact-container .contact-col1 {
  width: 40%;
}
.contact .contact-container .contact-col1 .col1-title {
  font-size: 28px;
  margin-bottom: 10px;
}
.contact .contact-container .contact-col1 .col1-paragraph {
  margin-top: 25px;
  font-size: 16px;
  line-height: 2rem;
}
.contact .contact-container .contact-col2 .col2-paragraph {
  margin-bottom: 15px;
}
.contact .contact-container .contact-col2 .col2-paragraph span {
  font-weight: bold;
}/*# sourceMappingURL=main.css.map */